.pro-nav{
  width: 30%;
  margin-top: 20px;
  margin-bottom: 6px;
}
.fr{
    float: right;
}
.m_t5{
    margin-top: 5px;
}
.m_t20{
    margin-top: 20px;
}
.m_b40{
    margin-bottom: 40px;
}
.m_t25{
      margin-top: 25px;
}
.m_l30{
    margin-left:30px;
}
.w80{
    width:80%
}